@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.Default.Pictures.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new YSerene.Default.PicturesGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>