@{
    ViewData["Title"] = Texts.Forms.Membership.SignUp.FormTitle;
    ViewData["PageId"] = "CreateEnList";
    Layout = MVC.Views.Shared._NewLayoutNoNavigation;
}
<script id="Template_Membership_CreateEnListPanel" type="text/template">
    <form class="form-horizontal" role="form" id="~_Form">
        <div class="fieldset">
            <div id="~_PropertyGrid"></div>
            <div class="clear"></div>
        </div>
        <div class="buttons">
            <button id="~_SubmitButton" type="button" class="btn btn-warning" style="position:relative; margin-top:90px; right:15%">请确认提交</button>
        </div>
    </form>
</script>
<section class="page-title center">
    <div class="container">
        <h2>加入育森</h2>
        <ul>
            <li><a href="~/">首页</a></li>
            <li><a href="javascript:;">加入育森</a></li>
        </ul>
    </div>
</section>
<section class="about" style="background: url(~/images/overly/gallery.png)">
    <div id="CreateEnListPanel" class="container" style="height:480px; width:60%; border:2px #CCCCCC solid;">
    </div>
</section>

<script type="text/javascript">
    $(function () {
        new YSerene.Membership.CreateEnListPanel($('#CreateEnListPanel')).init();
    });
</script>
