@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.Default.EnList.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new YSerene.Default.EnListGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>