@using System.Activities.Statements
@{
    ViewData["Title"] = "About";
    ViewData["PageId"] = "About";
    Layout = MVC.Views.Shared._NewLayout;
}

<section class="page-title center">
    <div class="container">
        <h2>关于我们</h2>
        <ul>
            <li><a href="~/">首页</a></li>
            <li><a href="~/About">关于我们</a></li>
        </ul>
    </div>
</section>


<section class="about">
    <div class="container">

        <div class="row">
            <div class="single-column col-md-6 col-sm-12">
                <div class="wow fadeIn" data-wow-duration="2s" data-wow-delay="0.5s" data-wow-offset="0" style="visibility: visible; animation-duration: 2s; animation-delay: 0.5s; animation-name: fadeIn;">
                    <div class="post-content">
                        <div class="section-title">
                            <h2>北京育森<span>国际教育咨询有限公司</span> </h2>
                        </div>
                        <div class="text">
                            <p>由美国哈佛大学、美国西北大学凯洛格商学院校友会成员以及美国蒙台梭利教育专家们联合举办</p><br>
                            <p>2016年北京育森教育机构成立并与Green kids牵手，将其引入中国。以幼儿园教育指导性纲为基础，结合澳大利亚官方教育框架，育森教育机构以教育环境、孩子为中心、开展探索式课程模式、精准培养，最大化实现我们所期待的培育目标。  </p>
                            <br><p>Green kids来自位于澳大利亚新南威尔士州（New South Wales），目前在Parramatta和Burwoody有两所校区。 </p>
                        </div>

                    </div>
                </div>


            </div>
            <div class="single-column col-md-6 col-sm-12">
                <div class="wow fadeInRight" data-wow-duration="2s" data-wow-delay="0.5s" data-wow-offset="0" style="visibility: visible; animation-duration: 2s; animation-delay: 0.5s; animation-name: fadeIn;">
                    <figure class="img-box">
                        <a href="#"><img src="images/resource/11.png" alt=""></a>
                    </figure>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="call-out">
    <div class="container">
        <div class="row">

            <div class="column col-md-9 col-sm-12 col-xs-12">
                <div class="text-left clearfix">
                    <h2>Join Now!</h2>
                    <p>欢迎加入北京育森国际幼儿园！</p>
                </div>

            </div>

            <div class="column col-md-3 col-sm-12 col-xs-12">
                <div class="text-right padd-top-20">
                    <a href="#" class="theme-btn btn-style-one">点击进入</a>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="about">
    <div class="container">

        <div class="row">
            <div class="single-column col-md-6 col-sm-12">
                <div class="wow fadeInRight" data-wow-duration="2s" data-wow-delay="0.5s" data-wow-offset="0" style="visibility: visible; animation-duration: 2s; animation-delay: 0.5s; animation-name: fadeIn;">
                    <figure class="img-box">
                        <a href="#"><img src="images/resource/12.png" alt=""></a>
                    </figure>
                </div>
            </div>
            <div class="single-column col-md-6 col-sm-12">
                <div class="wow fadeIn" data-wow-duration="2s" data-wow-delay="0.5s" data-wow-offset="0" style="visibility: visible; animation-duration: 2s; animation-delay: 0.5s; animation-name: fadeIn;">
                    <div class="post-content">
                        <div class="section-title">
                            <h2>一切为了孩子<span>卓越的未来</span> </h2>
                        </div>
                        <div class="text">
                            <p>作为家长，为孩子选择第一所学校是您所作出的最重要的决定之一，我们理解，在这个世界上，没有任何事物能够比您的孩子更加珍贵，因而我们十分荣幸能够和您 一起为了孩子的未来而共同努力。当您在育森进行体验之后，如果您对我们的校园有任何意见或建议，我们希望您能够随时和我们取得联系。</p>
                            <br><br><p>我们将为孩子提供</p>
                        </div>
                        <ul class="list">
                            <li>1、非凡的学习体验，独立的空间，老师的关怀与支持，让孩子们能够在不同的领域出类拔萃；</li>
                            <li>2、温馨且适宜学习的环境，满足孩子们在社交、文化以及语言等各方面的发展需求；</li>
                            <li>3、积极且不被打扰的氛围，让每一个孩子拥有机会去释放他们与生俱来的求知欲望，去发现和探索我们的世界；</li>
                            <li>4、丰富多彩的课程，培养孩子成为严谨的思考者，他们尊重自己的同胞以及生存的环境，他们一生都对学习充满热爱。</li>
                        </ul>

                    </div>
                </div>


            </div>

        </div>
    </div>
</section>
