@using System.Activities.Statements
@{
    ViewData["Title"] = "Features";
    ViewData["PageId"] = "Features";
    Layout = MVC.Views.Shared._NewLayout;
}

<section class="page-title center">
    <div class="container">
        <h2>教育特色</h2>
        <ul>
            <li><a href="~/">首页</a></li>
            <li><a href="~/Features">教育特色</a></li>
        </ul>
    </div>
</section>

<div class="sidebar-page product-details">
    <div class="container">

        <div class="row clearfix">

            <!--Content Side-->
            <div class="col-md-8 col-sm-7 col-xs-12 post-column">
                <section class="post-container">

                    <!--Blog Post-->
                    <div class="blog-post wow fadeInLeft animated animated" data-wow-delay="0ms" data-wow-duration="1500ms" style="visibility: visible; animation-duration: 1500ms; animation-delay: 0ms; animation-name: fadeInLeft;">
                        <article class="single-column">
                            <div class="img-box-s2">
                                <div class="img-holder">
                                    <img src="images/product/14.jpg" alt="">
                                </div>
                                <div class="outer-box">
                                    <div class="content">
                                        <h3 id="ab">蒙台梭利教育理念<br>关注1.5-6岁儿童教育，为孩子构建了发展所需的完备环境。</h3>

                                        <div class="text">
                                            <p>
                                                “爱和自由”科学的教育方法认为：对基本规则的共同遵守，于人类社会来说，意味着对每个个体自由的最大保障，而对教育来说，帮助孩子建立界限，是让儿童自由、独立成长的最大保障，建构儿童完全自律的品质和智能。
                                            </p>
                                            <p>蒙特梭利说：成人必须要准备一个环境，能对孩子的生理环境进行支持，就象胎儿在母体中时的环境。孩子通过感官吸收周围的一切，去看、闻、摸，因此成人要在环境中提供给他们可以利用自己的感官进行探索的事物，而不是利用抽象的方式进行。蒙特梭利根据儿童六岁以前的敏感期与吸收性心智，创设一个以儿童为本位的环境，让儿童自己生活。</p>
                                        </div>
                                        <ul class="list">
                                            <li> 非凡的学习体验，独立的空间，老师的关怀与支持，让孩子们能够在不同的领域出类拔萃</li>
                                            <li>温馨且适宜学习的环境，满足孩子们在社交、文化以及语言等各方面的发展需求</li>
                                            <li>积极且不被打扰的氛围，让每一个孩子拥有机会去释放他们与生俱来的求知欲望，去发现和探索我们的世界 </li>
                                            <li>丰富多彩的课程，培养孩子成为严谨的思考者，他们尊重自己的同胞以及生存的环境，他们一生都对学习充满热爱 </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </article>
                    </div>


                </section>


            </div>
            <!--Content Side-->

            <div class="col-md-4 col-sm-5 col-xs-12">
                <aside class="sidebar">

                    <!-- Popular Categories -->
                    <div class="widget wow fadeInUp animated animated" data-wow-delay="0ms" data-wow-duration="1500ms" style="visibility: visible; animation-duration: 1500ms; animation-delay: 0ms; animation-name: fadeInUp;">
                        <div class="sidebar-title"><h2>课程<span>特色</span></h2></div>

                        <ul class="list catagories product-info">
                            <li><i class="icon-reading"></i>3-4岁蒙氏教学</li>
                            <li><i class="icon-reading"></i>4-5岁主题+瑞吉欧教学 </li>
                            <li><i class="icon-reading"></i>5-6岁瑞吉欧教学</li>
                            <li><i class="icon-reading"></i>自然环境</li>
                            <li><i class="icon-reading"></i>优质师资</li>
                            <li><i class="icon-reading"></i>家长参与</li>
                        </ul>

                    </div>

                    <div class="map-section">
                        <div class="google-map" id="contact-google-map" data-map-lat="37.668705" data-map-lng="-121.882048" data-map-title="Awesome Place" data-map-zoom="12">
                            <img src="images/product/14.png" />
                        </div>
                    </div>



                </aside>
            </div>
        </div>


    </div>
</div>