@using System.Activities.Statements
@{
    ViewData["Title"] = "Features";
    ViewData["PageId"] = "Features";
    Layout = MVC.Views.Shared._NewLayout;
}

<section class="page-title center">
    <div class="container">
        <h2>家长服务</h2>
        <ul>
            <li><a href="~/">首页</a></li>
            <li><a href="~/Parents">家长服务</a></li>
        </ul>
    </div>
</section>



<section class="about">
    <div class="container">

        <div class="row">
            <div class="single-column col-md-6 col-sm-12">
                <div class="wow fadeIn" data-wow-duration="2s" data-wow-delay="0.5s" data-wow-offset="0" style="visibility: visible; animation-duration: 2s; animation-delay: 0.5s; animation-name: fadeIn;">
                    <div class="post-content">
                        <div class="section-title">
                            <h2>家园<span>共育</span> </h2>
                        </div>
                        <div class="text">
                            <p>如今我们把家长工作的切入点放在孩子身上,让家长看到孩子的进步,让孩子影响家长的观念与行为;同时,使家长感受教师工作的辛苦与用心。通过孩子的表现和教师的教育行为来吸引家长主动参与教育活动,并逐渐内化成教育子女的能力。 </p>
                        </div>
                        <ul class="list">
                            <li>了解家长需求,变“希望家长做”为“指导家长做”</li>
                            <li>发挥幼儿的纽带作用,从“欣赏”到“分享”</li>
                            <li>让环境与家长对话,变“被动了解”为“主动参与”</li>
                            <li>整合教育资源,由“双方互动”为“三方互动”</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="single-column col-md-6 col-sm-12">
                <div class="wow fadeInRight" data-wow-duration="2s" data-wow-delay="0.5s" data-wow-offset="0" style="visibility: visible; animation-duration: 2s; animation-delay: 0.5s; animation-name: fadeIn;">
                    <figure class="img-box">
                        <a href="#"><img src="images/resource/14.png" alt=""></a>
                    </figure>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="about-2 no-padd-top">
    <div class="container">

        <div class="row">
            <div class="column col-md-4 col-sm-6">
                <div class="wow fadeIn animated" data-wow-duration="2s" data-wow-delay="0.5s" data-wow-offset="0" style="visibility: visible; animation-duration: 2s; animation-delay: 0.5s; animation-name: fadeIn;">
                    <div class="item center">
                        <div class="icon"><span class="icon-school"></span></div>
                        <div class="content">
                            <h4><a href="#">家长信箱</a></h4>
                            <p>我们在幼儿园大门口设家长信箱，欢迎各位家长将您的宝贵建议留给我们。我们衷心感谢您对我们工作的支持！</p>

                        </div>
                    </div>
                </div>
            </div>
            <div class="column col-md-4 col-sm-6">
                <div class="wow fadeIn animated" data-wow-duration="2s" data-wow-delay="0.5s" data-wow-offset="0" style="visibility: visible; animation-duration: 2s; animation-delay: 0.5s; animation-name: fadeIn;">
                    <div class="item center">
                        <div class="icon"><span class="icon-paint-1"></span></div>
                        <div class="content">
                            <h4><a href="#">与行政人员交流</a></h4>
                            <p>如果您觉得需要面对面沟通，可以直接联系幼儿园行政人员。</p>

                        </div>
                    </div>
                </div>
            </div>
            <div class="column col-md-4 col-sm-6">
                <div class="wow fadeIn animated" data-wow-duration="2s" data-wow-delay="0.5s" data-wow-offset="0" style="visibility: visible; animation-duration: 2s; animation-delay: 0.5s; animation-name: fadeIn;">
                    <div class="item center">
                        <div class="icon"><span class="icon-blocks"></span></div>
                        <div class="content">
                            <h4><a href="#">家长委员会</a></h4>
                            <p>您对幼儿园有任何意见或宝贵的建议，也可以通过班级家长代表将您的建议转达给幼儿园园长或其他行政人员。</p>

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
