<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <!-- mobile responsive meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="~/css/common-style.css">
    <link rel="stylesheet" href="~/css/responsive.css">
</head>
<body class="-one">
    <div class="preloader"></div>
    <header class="header clearfix">
        <div class="main-header stricky bubble">
            <div class="container">
                <div class="logo pull-left">
                    <a href="index.html">
                        <img src="images/logo/1.png" alt="Awesome Image">
                    </a>
                </div>
                <div class="nav-outer">
                    <nav class="mainmenu-area">
                        <div class="navbar" role="navigation">
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>

                            </div>
                            <div class="navbar-collapse collapse text-center">
                                <ul>
                                    <li><a href="index.html">首页</a></li>
                                    <li class="dropdown">
                                        <a href="jiaoyutese.html">教育特色</a>
                                        <ul class="submenu">
                                            <li><a href="jiaoyutese.html">教学特色</a></li>
                                            <li><a href="jiaoyutese.html">特色课程</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="jiayuangongyu.html">家长服务</a></li>
                                    <li class="dropdown">
                                        <a href="xinwen.html">新闻活动</a>
                                        <ul class="submenu">
                                            <li><a href="xinwen.html">育森新闻</a></li>
                                            <li><a href="xinwen.html">校园新闻</a></li>
                                            <li><a href="xinwen.html">活动</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="aboutus.html">关于我们</a></li>
                                </ul>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    @RenderBody()
</html>