@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.Default.News.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new YSerene.Default.NewsGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>